<!DOCTYPE html>
<html style="width:100%">
    <head>
       
    </head>
    <body style="padding-top: 30% ;">
        <style type="text/css">
            body{
                background-color: #f7fcff;
            }
            button{
                margin-top: 30px;
                width: 300px;

            }
        </style>
        <h1> Profile </h1>
        {% block content %}
        <form method="POST" action="/UpdateInformation" style="color: rgb(28, 32, 32);">
            {% csrf_token %}
            <h3>Name</h3>
            <input type="text" name="name" value="{{ user_name }}" maxlength="30" id="id_name">
            <h3>Age</h3>
            <input type="number" name="age" value="{{user_age}}" min="10" max="120" id="id_age">
            <h3>Username</h3>
            <h5>{{ user_username}}</h5>
            <h3>Email</h3>
            <input type="email" name="email" value="{{ user_email}}" maxlength="254" id="id_email">
            <h3>phoneNumber</h3>
            <input type="phoneNumber" name="phoneNumber" value="{{user_phone}}" maxlength="12" id="id_phoneNumber">
            <h3>First Language</h3>
            <input type="radio" id="user_language" name="user_language" value="arabic">
            <label for="user_language">arabic</label><br>
            <input type="radio" id="user_language" name="user_language" value="english">
            <label for="user_language">english</label><br>
            <input type="radio" id="user_language" name="user_language" value="turkish">
            <label for="user_language">turkish</label><br>
            <input type="radio" id="user_language" name="user_language" value="spanish">
            <label for="user_language">spanish</label><br>
            <input type="radio" id="user_language" name="user_language" value="albanian">
            <label for="user_language">albanian</label><br>
            <input type="radio" id="user_language" name="user_language" value="russian">
            <label for="user_language">russian</label><br>
            <input type="radio" id="user_language" name="user_language" value="french">
            <label for="user_language">french</label><br>
            <input type="radio" id="user_language" name="user_language" value="hindi">
            <label for="user_language">hindi</label><br>
            <input type="radio" id="user_language" name="user_language" value="urdu">
            <label for="user_language">urdu</label><br>
            <input type="radio" id="user_language" name="user_language" value="thai">
            <label for="user_language">thai</label><br>
            <input type="radio" id="user_language" name="user_language" value="somalia">
            <label for="user_language">somalia</label><br>
            <input type="radio" id="user_language" name="user_language" value="chinese">
            <label for="user_language">chinese</label><br>
            <input type="radio" id="user_language" name="user_language" value="belarusian">
            <label for="user_language">belarusian</label><br>
            <input class="btn btn-primary" type="submit" value="Update">
        </form>    
        {% endblock content %}
    </body>
 </center>
 <footer>
    <section style="margin-bottom: 50%;">
        <style>
            div.links {
              font-size: 50%;
              margin: auto;
             margin-top: 40%;
            } 
            a {
                font-size: 15px;
                margin: 7px;
            }
            </style>  
        <div class="links">  
        <center>  
        <a class="collapse-item" href="{% url 'customer_Home_Page' %}">Home Page</a>
        <a class="collapse-item" href="{% url 'CustomerChat' %}">Chat</a>
        <a class="collapse-item" href="{% url 'MachineTranslation' %}">MT</a>
        <a class="collapse-item" href="{% url 'CustomerProfile' %}">Profile</a>
        </center>  
</div> 
  </section>
  </footer>
  </html>