<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine translation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style type="text/css">
        body{
            background-color: #f7fcff;
        }
    </style>
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4> Machine Translation<span class="text-primary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'MachineTranslation' %}">
                            {% csrf_token %}
                            {% load static %}
                            <div class="form-row mt-4">
                            <div class="col-md-12">
                                <textarea type="text" name="txt" class="form-control" placeholder="Enter Your Text" rows="3" required="required"></textarea>
                            </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <select id="inputState" class="form-control" name="lang">
                                        <option selected value="en">English</option>
                                        <option value="es">spanish</option>
                                        <option value="fr">french</option>
                                        <option value="hi">hindi</option>
                                        <option value="af">afrikaans</option>
                                        <option value="sq">albanian</option>
                                        <option value="ar">arabic</option>
                                        <option value="am">amharic</option>
                                        <option value="hy">armenian</option>
                                        <option value="az">azerbaijani</option>
                                        <option value="eu">basque</option>
                                        <option value="be">belarusian</option>
                                        <option value="bn">bengali</option>
                                        <option value="bs">bosnian</option>
                                        <option value="bg">bulgarian</option>
                                        <option value="ca">catalan</option>
                                        <option value="ceb">cebuano</option>
                                        <option value="ny">chichewa</option>
                                        <option value="zh-cn">chinese (simplified)</option>
                                        <option value="zh-tw">chinese (traditional)</option>
                                        <option value="co">corsican</option>
                                        <option value="hr">croatian</option>
                                        <option value="cs">czech</option>
                                        <option value="da">danish</option>
                                        <option value="nl">dutch</option>
                                        <option value="eo">esperanto</option>
                                        <option value="et">estonian</option>
                                        <option value="tl">filipino</option>
                                        <option value="fi">finnish</option>
                                        <option value="fy">frisian</option>
                                        <option value="gl">galician</option>
                                        <option value="ka">georgian</option>
                                        <option value="de">german</option>
                                        <option value="el">greek</option>
                                        <option value="gu">gujarati</option>
                                        <option value="ht">haitian creole</option>
                                        <option value="ha">hausa</option>
                                        <option value="haw">hawaiian</option>
                                        <option value="hmn">hmong</option>
                                        <option value="ig">igbo</option>
                                        <option value="az">azerbaijani</option>
                                        <option value="ku">kurdish (kurmanji)</option>
                                        <option value="bg">kyrgyz</option>
                                        <option value="lo">lao</option>
                                        <option value="la">latin</option>
                                        <option value="lv">latvian</option>
                                        <option value="lt">lithuanian</option>
                                        <option value="lb">luxembourgish</option>
                                        <option value="mk">macedonian</option>
                                        <option value="mg">malagasy</option>
                                        <option value="ms">malay</option>
                                        <option value="ml">malayalam</option>
                                        <option value="mt">maltese</option>
                                        <option value="mi">maori</option>
                                        <option value="mr">marathi</option>
                                        <option value="mn">mongolian</option>
                                        <option value="my">myanmar (burmese)</option>
                                        <option value="ne">nepali</option>
                                        <option value="no">norwegian</option>
                                        <option value="or">odia</option>
                                        <option value="ps">pashto</option>
                                        <option value="hu">hungarian</option>
                                        <option value="es">scots gaelic</option>
                                        <option value="hu">hebrew</option>
                                        <option value="is">icelandic</option>
                                        <option value="id">indonesian</option>
                                        <option value="ga">irish</option>
                                        <option value="it">italian</option>
                                        <option value="ja">japanese</option>
                                        <option value="jw">javanese</option>
                                        <option value="kn">azerbaijani</option>
                                        <option value="kk">kazakh</option>
                                        <option value="km">khmer</option>
                                        <option value="ko">korean</option>
                                        <option value="fa">persian</option>
                                        <option value="pl">polish</option>
                                        <option value="pt">portuguese</option>
                                        <option value="pa">punjabi</option>
                                        <option value="ro">romanian</option>
                                        <option value="ru">russian</option>
                                        <option value="sm">samoan</option>
                                        <option value="gd">scots gaelic</option>
                                        <option value="sr">serbian</option>
                                        <option value="st">sesotho</option>
                                        <option value="sn">shona</option>
                                        <option value="sd">sindhi</option>
                                        <option value="si">sinhala</option>
                                        <option value="sk">slovak</option>
                                        <option value="sl">slovenian</option>
                                        <option value="so">somali</option>
                                        <option value="es">spanish</option>
                                        <option value="su">sundanese</option>
                                        <option value="sw">swahili</option>
                                        <option value="sv">swedish</option>
                                        <option value="tg">tajik</option>
                                        <option value="ta">tamil</option>
                                        <option value="te">telugu</option>
                                        <option value="th">thai</option>
                                        <option value="tr">turkish</option>
                                        <option value="uk">ukrainian</option>
                                        <option value="ur">urdu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary mt-2 btn-block">Translate</button>
                                </div>
                            </div>
                        </form>
                        <p class="mt-4">{{result}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <footer >
        <section style="margin-bottom: 50%;">
            <style>
                div.links {
                  font-size: 50%;
                  margin: auto;
                  margin-top: 100px;
                } 
                a {
                    font-size: 15px;
                    margin: 7px;
                }
                </style>  
            <div class="links">  
            <center>  
            <a class="collapse-item" href="{% url 'customer_Home_Page' %}">Home Page</a>
            <a class="collapse-item" href="{% url 'CustomerChat' %}">Chat</a>
            <a class="collapse-item" href="{% url 'MachineTranslation' %}">MT</a>
            <a class="collapse-item" href="{% url 'CustomerProfile' %}">Profile</a>
            </center>  
      </div> 
      </section>
      </footer>
      </body>
</html>
