<!DOCTYPE html>
<html style="width:100%">
    <head>
       
    </head>
    <body style="padding-top: 30% ;">
        <style type="text/css">
            body{
                background-color: #f7fcff;
            }
            button{
                margin-top: 30px;
                width: 300px;

            }
        </style>
        <h1> Profile </h1>
        {% block content %}
        <form method="POST" action="/UpdateInformationTrans" style="color: rgb(28, 32, 32);">
            {% csrf_token %}
            <h3>Name</h3>
            <input type="text" name="name" value="{{user_name}}" maxlength="30" id="id_name">
    
            <h3>Age</h3>
            <input type="number" name="age" value="{{user_age}}" minlength="10" maxlength="120" id="id_age">
            <h3>Username</h3>
            <h5>{{user_username}}</h5>
            <h3>Email</h3>
            <input type="email" name="email" value="{{ user_email}}" maxlength="254" id="id_email">
            <h3>phoneNumber</h3>
            <input type="tel" name="phoneNumber" value="{{user_phone}}" maxlength="12" minlength="12" id="id_phoneNumber">
            <h3>First Language</h3>
                <input type="radio" id="user_language1" name="user_language1" value="arabic">
                <label for="user_language1">arabic</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="english">
                <label for="user_language1">english</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="turkish">
                <label for="user_language1">turkish</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="spanish">
                <label for="user_language1">spanish</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="albanian">
                <label for="user_language1">albanian</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="russian">
                <label for="user_language1">russian</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="french">
                <label for="user_language1">french</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="hindi">
                <label for="user_language1">hindi</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="urdu">
                <label for="user_language1">urdu</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="thai">
                <label for="user_language1">thai</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="somalia">
                <label for="user_language1">somalia</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="chinese">
                <label for="user_language1">chinese</label><br>
                <input type="radio" id="user_language1" name="user_language1" value="belarusian">
                <label for="user_language1">belarusian</label><br>

            <h3>Secound Language</h3>
            <input type="radio" id="user_language2" name="user_language2" value="arabic">
            <label for="user_language2">arabic</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="english">
            <label for="user_language2">english</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="turkish">
            <label for="user_language2">turkish</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="spanish">
            <label for="user_language2">spanish</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="albanian">
            <label for="user_language2">albanian</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="russian">
            <label for="user_language2">russian</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="french">
            <label for="user_language2">french</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="hindi">
            <label for="user_language2">hindi</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="urdu">
            <label for="user_language2">urdu</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="thai">
            <label for="user_language2">thai</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="somalia">
            <label for="user_language2">somalia</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="chinese">
            <label for="user_language2">chinese</label><br>
            <input type="radio" id="user_language2" name="user_language2" value="belarusian">
            <label for="user_language2">belarusian</label><br>
            <h3>Certification</h3>
            <input type="radio" id="cert" name="cert" value="Bachelor degree">
            <label for="cert">Bachelor degree</label><br>
            <input type="radio" id="cert" name="cert" value="Diploma degree">
            <label for="cert">Diploma degree</label><br>
            <input type="radio" id="cert" name="cert" value="Courses">
            <label for="cert">Courses</label><br>
            <input type="radio" id="cert" name="cert" value="Experience">
            <label for="cert">Experience</label><br>
            <h3>Price</h3>
            <input type="number" name="price" value="{{price}}" maxlength="100"  id="price">
            <input class="btn btn-primary" type="submit" value="Update">
        </form>    
        {% endblock content %}
    </body>
 </center>
 <footer>
    <section style="margin-bottom: 50%;">
        <style>
            div.links {
              font-size: 50%;
              margin: auto;
             margin-top: 40%;
            } 
            a {
                font-size: 15px;
                margin: 7px;
            }
            </style>  

  </footer>
  </html>