<html>
<head>
    {% load static %}

    <title>
        Welcome
    </title>
</head>
<style>
    body{
        background-color: #f7fcff;
    }
    a { text-decoration: none; }
    div{
        margin: auto;
        margin-top: 20%;
        margin-left: 18%;
        align-items: center;
    }
</style>

<body >
    <div class="center"><br>
    <div>
    <button style="color: rgb(255, 255, 255); width: 200px;"><a href="{% url 'login' %}">Log in</a></button><br><br>
    <button style="color: rgb(255, 255, 255); width: 200px; "><a href="{% url 'signUp'%}">Sign up</a></button><br><br>
    </div>
</div>
</body>
</html>
