<!DOCTYPE html>
<head>
    <h1>Welcome {{user.username}}</h1>
</head>
<style>
    a { text-decoration: none; }
    #my-div {
    background-color: #2193b0;
    width: 40%;
    height: 100px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 20px;
}
</style>
<body>
    <section style="margin-top: 10%;">       
        <form method="POST" action="/accept_appointment">
            <h2>Request List</h2>
            {% csrf_token %} 
            {% for i in appointment %}
            <div id="my-div">
            <a href="#" class="fill-div">{{i.customerName}}  <br>  {{i.sent_date}}</a>
            </div>            
            <input type="hidden" name="request_id" value="{{i.id}}">
            <input type="hidden" name="customer" value="{{i.customer}}">
            <input type="hidden" name="action" value="accept">
            <button type="submit">Accept</button>
            </form>
            <form method="POST" action="/reject_appointment">
            {% csrf_token %}
            <input type="hidden" name="request_id" value="{{i.id}}">
            <input type="hidden" name="customer" value="{{i.customer}}">
            <input type="hidden" name="action" value="reject">
            <button type="submit">Reject</button>
            </form>
            {% endfor %}
        </form>    
    </section>    
</body>

